.btnDefault {
    color: var(--color-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.394px;

    display: inline-flex;
    height: 48px;
    padding: 0px 22.334px;
    justify-content: center;
    align-items: center;
    gap: 10.152px;
    flex-shrink: 0;
    // cursor: pointer;

    border-radius: 4.061px;
    border: 1.218px solid var(--color-primary);
    background: var(--color-primary);
    transition: 0.3s;

    &:hover {
        border: 1.218px solid var(--color-primary-focus);
        background: var(--color-primary-focus);
    }

    &:focus {
        border: 1.218px solid var(--color-primary-focus);
        background: var(--color-primary-focus);
    }
}

.btnNegative {
    color: var(--color-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.394px;

    display: inline-flex;
    height: 48px;
    padding: 0px 22.334px;
    justify-content: center;
    align-items: center;
    gap: 10.152px;
    flex-shrink: 0;
    text-decoration: none;

    border-radius: 4px;
    border: 1.218px solid var(--color-primary-Disable, #59323F);
    background: var(--color-primary-Disable, #59323F);

    cursor: pointer;
    transition: 0.3s;

    &:disabled {
        border: 1.218px solid var(--color-grey-1);
        background: var(--color-grey-1);
    }

    &:hover {
        border: 1.218px solid var(--color-grey-2);
        background: var(--color-grey-2);
    }
}

@media (min-width:200px) and (max-width:1430px) {

    .btnDefault,
    .btnNegative {
        height: 40px;
        padding: 0px 22.334px;
    }

}