.header {
    display: flex;
    width: auto;
    max-width: 369px;
    width: auto;
    margin: 30px auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: var(--color-grey-4);
}

.btn {
    display: inline-flex;
    height: 40.11px;
    padding: 0px 16.243px;
    justify-content: center;
    align-items: center;
    gap: 10.152px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--color-grey-3);
    color: var(--color-grey-0);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.425px;
}

.main {
    width: auto;
    max-width: 369px;
    height: auto;
    margin: 0 auto;
    display: flex;
    padding: 42px 22px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: var(--color-grey-3);
    box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.25);
}